//Container

.section {
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: $gap;
    margin-right: $gap;

    @media only screen and (min-width: $media-query-small) {
      max-width: $content-max-width;
      margin-left: auto;
      margin-right: auto;
      grid-column-gap: $gap;
    }

    &.two-columns {
      @media only screen and (min-width: $media-query-small) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &--decoration {
    &::after {
      content: '';
      display: block;
      height: 95px;
      width: 100%;
      background-image: url("/images/arrow.png");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      z-index: 1;
    }
  }
}
