//Spaces

.margin-bottom {
  margin-bottom: $gap;
}

.margin-bottom-md {
  margin-bottom: $gap-md;
}

.margin-top-md {
  margin-top: $gap-md;
}

.padding-top-md {
  padding-top: $gap-md;
}

.padding-bottom-md {
  padding-bottom: $gap-md;
}
