//Visibility

.hide-for-mobile {
  @include breakpoint(mobile) {
    display: none !important;
  }
}

.show-for-mobile {
  display: block;

  @include breakpoint(phablet) {
    display: none !important;
  }
}

.hide-for-tablet-up {
  @include breakpoint(tablet) {
    display: none !important;
  }
}

.show-for-tablet-up {
  display: none;

  @include breakpoint(tablet) {
    display: block;
  }
}

.hide-for-desktop-up {
  @include breakpoint(desktop) {
    display: none !important;
  }
}
