//Cards

.card {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $gap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $gap-md;

    a {
      margin-top: auto;
    }

    @include breakpoint(tablet) {
      background-color: $white;
      padding: $gap;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }
}
