.header {
  display: grid;
  grid-template-columns: $gap auto $gap;
  grid-template-rows: auto;
  align-items: center;

  &__logo {
    grid-column: 2/3;
    padding-top: $gap-xs;
    padding-bottom: $gap-xs;
    max-width: $logo-max-width;
  }

  @include breakpoint(desktop) {
    grid-template-columns: auto minmax(0, $content-max-width) auto;
    grid-template-rows: 1fr;
  }
}
